<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--Development-->
    <add name="AppConnection" connectionString="Server=ecydblcyitdd1\development;Database=PTS;UID=PTSUser;PWD=p9&amp;N@xy" providerName="System.Data.SqlClient" />
    <!--Production-->
    <!--<add name="AppConnection" connectionString="Server=ecydbfass;Database=PTS;UID=PTSUser;PWD=p9&amp;N@xy" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>